@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: #000;
    background-image: url(../images/dust.png);
}

*, *:before, *:after {
	box-sizing: inherit;
}

.doom {
    text-align: center;
    margin: 0 auto;
}

.doom i {
    background-color: #ffbd63;
    top: 0.2em;
    position: relative;
    font-size: 14em;
    color: #fff;
    margin: 0 auto;
    border-radius: 100px 100px 0 0;
    border: solid 5px #eba94f;
}

.doom i:hover {
    border: solid 15px #e36548;
    transition: ease-in-out 500ms;
    border-radius: 300px;
}

h1 {
    font-family: 'Ultra', serif;
    font-size: 6em;
    line-height: 1em;
    padding: 0 1em 0 1em;
    color: #fff;
}